:root {
  --background: #ffeaf3;
  --container-background: #ffff;
  --text-color: #949494;
  --text-active-color: #3f3f3f;
  --main-container-background: #fcfcfd;
  --writing-section-background: #132051;
  --cards-section-background: #fce2ed;
  --speaking-section-background: #d6eef6;
  --title-text-color: #1f2b59;
  --disabled-daily-background: #e6e6e6;
  --complated-lesson-background: #1955af;
  --sidebar-background: #ffff;
  --tag-text-color: #3e4561;
  --container-background-color: #fcfcfd;
  --daily-icons-border-color: #c2c2c2a1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--background);
}

.container {
  display: flex;
  //   justify-content: flex-start;
  position: relative;
  width: 80%;
  height: 90vh;
  background: var(--container-background);
  border-radius: 35px;
  overflow: hidden;
  background-color: var(--container-background-color);
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 180px;
    height: 100%;
    background: var(--sidebar-background);

    div + div {
      margin-top: 10px;
    }

    .logo {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      background: #132051;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      margin: 45px;
      left: -40px;
      cursor: pointer;

      .second-view {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background: var(--background);
        border-radius: 50%;
        overflow: hidden;
        .sun {
          position: relative;
          width: 135px;
          height: 15px;
          background: var(--complated-lesson-background);
          border-radius: 50%;
          top: 8px;
        }
      }
    }

    .menu-section {
      display: flex;
      height: 40%;

      ul {
        display: flex;
        width: 100%;
        margin-left: 25px;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          color: var(--text-color);
          cursor: pointer;
          transition: color 0.5s ease;

          span:nth-child(2) {
            padding-left: 10px;
          }
        }
        li:hover {
          color: var(--text-active-color);
        }
        li.active {
          color: rgb(0, 0, 0);
        }
      }
    }
    .pro-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      position: absolute;
      width: 130px;
      height: 140px;
      border: 2px solid #e4e5e6;
      border-radius: 10px;
      bottom: 30px;
      cursor: pointer;
      .texts {
        text-align: center;
        padding-bottom: 18px;
      }
      span {
        position: absolute;
        transform: scale(5) rotate(5deg);
        color: #d6eef6;
        left: 35%;
      }
    }
  }
}

.content-container {
  margin-left: 25px;
  padding: 35px;
  .main-title {
    h1 {
      font-weight: 900;
      color: var(--title-text-color);
    }
    p {
      font-weight: 400;
      padding-top: 15px;
      color: rgb(66, 66, 66);
    }
  }
  .course-cards {
    display: flex;
    position: relative;

    justify-content: space-between;
    width: 465px;
    margin-top: 40px;

    .card {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      width: 220px;
      height: 145px;
      border-radius: 25px;
      background-color: #ffff;
      box-shadow: 4px 4px 9px 4px rgba(8, 32, 119, 0.185);
      .head-title {
        display: flex;
        justify-content: space-between;
      }
      .card-navigator {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.9);
        width: 25px;
        height: 45px;
        border: 1px solid rgba(255, 255, 255, 0.45);
        border-radius: 5px;
        right: 5px;
        cursor: pointer;
      }
    }
    .card:nth-child(2) {
      display: flex;
      flex-direction: column;
      .card-navigator {
        span {
          color: var(--title-text-color);
        }
      }
      p:nth-child(1) {
        color: var(--title-text-color);
        font-weight: 200;
      }
      p:nth-child(2) {
        color: var(--title-text-color);
        font-weight: 700;
        padding-top: 10px;
      }
      .course-status {
        color: var(--title-text-color);
        font-weight: 400;
      }

      .card-navigator {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
        width: 25px;
        height: 45px;
        border: 1px solid rgba(92, 89, 89, 0.45);
        border-radius: 5px;
        right: 5px;
      }
    }
    .card:nth-child(1) {
      background: var(--complated-lesson-background);
      p:nth-child(1) {
        color: #ffff;
        font-weight: 200;
      }
      p:nth-child(2) {
        color: #ffff;
        font-weight: 700;
        padding-top: 10px;
      }
      .course-status {
        color: #ffff;
        font-weight: 400;
      }
    }
  }

  .daily-wrap {
    margin-top: 25px;
    .logo {
      display: flex;
      position: relative;
      height: 185px;
      flex-direction: column;
      justify-content: space-between;
      color: var(--complated-lesson-background);
      top: 8px;
      left: 35px;
    }
    .daily-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border: 2px solid var(--daily-icons-border-color);
      border-radius: 10px;
    }
    .daily-cards {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-evenly;
      height: 325px;
      margin-left: 75px;
      bottom: 10px;
    }
    .title {
      font-size: 24px;
      color: var(--title-text-color);
      font-weight: 400;
    }
  }
  .reading-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 345px;
    height: 125px;
    box-shadow: 4px 4px 9px 4px rgba(0, 0, 0, 0.185);
    border-radius: 10px;
    padding-left: 15px;
    .daily-content-title {
      color: var(--title-text-color);
    }
    p {
      color: var(--title-text-color);
      font-size: 18px;
      font-weight: 700;
      margin-top: 10px;
    }

    .tag-section {
      display: flex;
      .tag:nth-child(1) {
        width: 90px;
      }
      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 25px;
        font-size: 14px;
        border-radius: 5px;
        color: var(--tag-text-color);
        background: var(--disabled-daily-background);
        margin-bottom: 15px;
      }
      .tag + .tag {
        margin-left: 15px;
      }
    }
    .daily-text-container {
      display: flex;
      justify-content: space-between;
    }

    .daily-navigator {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      color: var(--text-color);
      width: 25px;
      height: 45px;
      border: 1px solid rgba(92, 89, 89, 0.45);
      border-radius: 5px;
      right: 15px;
      cursor: pointer;
    }
  }
  .movie-card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 345px;
    height: 63px;
    background: var(--disabled-daily-background);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: not-allowed;
  }
  .essay-card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 345px;
    height: 63px;
    background: var(--disabled-daily-background);
    color: var(--text-color);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    cursor: not-allowed;
  }
}
.routine-wrap {
  display: flex;
  margin-top: 25px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 840px) {
  .container {
    overflow-x: hidden;
    overflow-y: scroll;
    .sidebar {
      position: relative;
    }

    .content-container {
      position: relative;
      left: -210px;
      .course-cards {
        display: flex;
        margin-left: 25px;
        flex-direction: column;
      }
      .card + .card {
        margin-top: 15px;
      }
      .daily-cards {
      }
    }
  }
}
